JWT_SECRET=fitlife-dev-secret-change-in-production-2024
DATABASE_URL=postgresql://neondb_owner:npg_9LnFfudk2DXR@ep-flat-silence-alpzf1aq.c-3.eu-central-1.aws.neon.tech/neondb?sslmode=require
CLIENT_URL=https://fitlife-bg.netlify.app
SERVER_URL=https://fit-life-api.netlify.app
EMAILJS_SERVICE_ID=service_m5m75hf
EMAILJS_TEMPLATE_ID=template_o2ofgan
EMAILJS_PUBLIC_KEY=rmQxFouv-ZySRx7ys
EMAILJS_ACCESS_TOKEN=I1X6pzHQ0moWXExYsyBRq
CONTACT_EMAILJS_SERVICE_ID=service_m5m75hf
CONTACT_EMAILJS_TEMPLATE_ID=template_9ucdhhl
CONTACT_EMAILJS_PUBLIC_KEY=rmQxFouv-ZySRx7ys
CONTACT_EMAILJS_ACCESS_TOKEN=I1X6pzHQ0moWXExYsyBRq
CONTACT_TO_EMAIL=m.sofroniev12@gmail.com
